<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>schools_database</title>
 
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Schools DataBAse</h1>
        </div>

        <div class="row 1">
          <form>
              <table class="alldata">
                  <tr>
                    <th>ID</th>
                    <th>FIRST_NAME</th>
                    <th>LAST_NAME</th>
                    <th>EMAIL</th>
                  </tr>
                   <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
              </table>
          </form>

            </form>
        </div>

    </div>
</body>

</html>