
            <div id="teachersForEachSub" style="text-align: center; font-size:25px;">
              <h2>List of teachers </h2>
                 <ul>
                {{!--loop column from subject database  --}}
                {{#each getTachersName}}
                <li style="color: rgb(91, 174, 212)">{{first_name}} {{last_name}}</li>
                {{/each}}
              </ul>  
            </div>

